In [3]:
import mysql.connector

mydata = mysql.connector.connect(host = "localhost",
                                user = "root",
                                password = "")

cursor = mydata.cursor()
cursor.execute("CREATE DATABASE mydatabase")

In [5]:
import mysql.connector

mydata = mysql.connector.connect(host = "localhost",
                                user = "root",
                                password = "",
                                database = "mydatabase")

cursor = mydata.cursor()
cursor.execute("CREATE TABLE Useraccount(ID INT AUTO_INCREMENT PRIMARY KEY, Username VARCHAR(250), Password VARCHAR(250))")

In [6]:
import mysql.connector

mydata = mysql.connector.connect(host = "localhost",
                                user = "root",
                                password = "",
                                database = "mydatabase")

cursor = mydata.cursor()
cursor.execute("SHOW TABLES")

for x in cursor:
    print(x)

('useraccount',)

# Logged in Successful

In [17]:
import mysql.connector

mydata = mysql.connector.connect(host = "localhost",
                                user = "root",
                                password = "",
                                database = "mydatabase")

cursor = mydata.cursor()
query =  "INSERT INTO Useraccount (Username, Password) VALUES (%s, %s)"
val = [('Usama', 'Usama*123'),
      ('Moin','Moin123asd'),
      ('Maaz','usamaaz8')]
cursor.executemany(query, val)

cursor.execute("SELECT * FROM Useraccount")
result = cursor.fetchall()
Usern = input("Username : ")
Passwo = input("Password : ")
for x in result:
    user = str(x[1])
    passw = str(x[2]) 
    if (Usern == user  and Passwo == passw ):
        a = True

if a == True:
    print("      ****WELCOME****")
    print("You are successfuly Logged in:") 
else:
     print("Invalid User: ")

Username : Moin
Password : Moin123asd
      ****WELCOME****
You are successfuly Logged in:

# Logged in Fail

In [21]:
import mysql.connector

mydata = mysql.connector.connect(host = "localhost",
                                user = "root",
                                password = "",
                                database = "mydatabase")

cursor = mydata.cursor()
query =  "INSERT INTO Useraccount (Username, Password) VALUES (%s, %s)"
val = [('Usama', 'Usama*123'),
      ('Moin','Moin123asd'),
      ('Maaz','usamaaz8')]
cursor.executemany(query, val)

cursor.execute("SELECT * FROM Useraccount")
result = cursor.fetchall()
a = 0
Usern = input("Username : ")
Passwo = input("Password : ")
for x in result:
    user = str(x[1])
    passw = str(x[2]) 
    if (Usern == user  and Passwo == passw ):
        a = 1

if a == 1:
    print("      ****WELCOME****")
    print("You are successfuly Logged in:") 
else:
     print("Invalid User: ")

Username : usama
Password : usama123
Invalid User: